@page "/trang-thu-hai.html"
@model razor.Pages.SecondRazorModel
@{
    ViewData["Title"] = "Trang thứ hai";
}
<div class="text-center text-secondary">
    <h1 class="display-4">Trang thứ hai Razor Page</h1>
</div>
