@page "/trang-thu-ba.html"
@model razor.Pages.ThirdRazorModel
@{
    ViewData["Title"] = "Trang thứ ba";
}
<div class="text-center text-success">
    <h1 class="display-4">Trang thứ ba Razor Page</h1>
</div>
