@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = "_MyLayout";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

@section footer {
    <p>Đây là footer</p>
}